.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #000000;
  font-size: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #FFF;
    padding: 2rem;
  }
  
  
  .form{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input{
    margin-bottom: 14px;
    height: 34px;
    border-radius: 4px;
    border: 0;
    padding: 0 8px;
  }
  
  .textarea{
    margin-bottom: 14px;
    border-radius: 4px;
    border: 0;
    padding: 8px;
    height: 94px;
    resize: none;
  }
  
  .button{
    height: 34px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background-color: #59b256;
    font-size: 18px;
    transition: background-color, transform 0.8s;
  }
  
  .icons_footer {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }