.i {
  display: flex;
  height: 100vh;
  background: #000000;
  color: #ffffff;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-left-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 30%;
  animation: move 10s ease-in-out infinite alternate;
}



@keyframes move {
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-150px);
  }
  75% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-350px);
  }
}


.i-img {
  object-fit: contain;
  transform: scale(0.6);
  border-radius: 20rem;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
    height: vh;
  }

  .i-left-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .i-desc {
    align-items: center;
    justify-content: center;
  }
  .i-right {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .i-img {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
  }
}
